parameters:
    ignoreErrors:
        -
            message: '#Undefined variable: \$this.*#'
            path: tests/*

        -
            message: '#Property Tests\\TestCase::\$app with generic class *#'
            path: tests/*

includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon